body {
  font-family: var(--vscode-font-family);
  padding: 12px;
  color: var(--vscode-foreground);
}

h2 {
  margin-bottom: 4px;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 220px;
  resize: none;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border-radius: 6px;
  padding: 8px;
}